@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

.gradient-header {
    background: linear-gradient(to right, #0a5052 , #32A9AD); 
}

.nav-link {
    font-size: 1.0rem; 
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
  }

  #logo-figure img {
    width: 160; 
    height: auto;
  }

  #html, body {
    height: 100%;
  }
  
  #main-footer {
    margin-top: auto;
  }

  .nav-link.active {
    font-weight: bold;
    
  }

  figcaption {
    font-size: 0.75rem; 
    color: #6c757d; 
     
}
.carousel {
  margin: 0 auto;
  padding: 0 15px;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}